__pycache__
build/
*.log
calib_images/
test_images/
*.onnx
*.pt
project.mpk
*.elf
.TMP_DIR
config.json
neat/cpp/results
neat/py/results


# SDK containers
.vdp-cli-*

BACKUP_*
.ghcr.io-sima-neat-sdk-latest/
playbooks/
